<div class="container-fluid text-center">
  <div>
    <a ui-sref="home"><button type="button" class="btn btn-lg new">Home</button></a>
  </div>
  <div>
    <h1>Project Page {{id}}</h1>
  </div>
  <div>
    <a ui-sref="newDocument({id: '{{id}}'})"><button class="btn btn-lg new">Add New Document</button></a>
  </div>
  <br/>
</div>
<div class="container-fluid text-center">
  <div class="col-md-3 docs" ng-model="docType" ng-repeat="doc in docs">
    <a class="link" ui-sref="documentType({type: '{{doc}}', id: '{{id}}'})">
      <h1>{{doc}}</h1>
    </a>
  </div>
</div>
