<div class="container-fluid text-center">
  <h1>New Document Page {{id}}</h1>
  <div class="col-md-4 col-md-offset-4 form-group">
    <label for="doc">Document Type:</label>
    <select class="form-control" id="doc">
      <option disabled selected value> -- select an option -- </option>
      <option>Purchase Orders</option>
      <option>Material Invoices</option>
      <option>Contracts</option>
      <option>Billing</option>
      <option>Product Submittals</option>
      <option>Cost Reports</option>
    </select>
  </div>
</div>
